<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oswizar.springbootsample.mapper.AuthorMapper">



<!--method1-->
    <resultMap id="authorResultMap" type="com.oswizar.springbootsample.entity.Author">
        <id property="id" column="id"/>
        <result property="name" column="name" />
        <result property="age" column="age" />
        <!--使用collection属性，ofType为集合内元素的类型-->
        <collection property="bookList" ofType="com.oswizar.springbootsample.entity.Book" columnPrefix="book_">
            <id property="id" column="id"/>
            <result property="name" column="name" />
            <result property="price" column="price" />
            <result property="authorId" column="author_id" />
        </collection>
    </resultMap>
    <select id="findAuthorById" parameterType="int" resultMap="authorResultMap">
        SELECT a.*, b.id AS 'book_id', b.name AS 'book_name', b.price AS 'book_price',b.author_id AS 'book_author_id'
        FROM t_author a, t_book b
        WHERE a.id = b.author_id
        AND a.id = #{authorId}
    </select>


<!--method2-->
<!--    <resultMap id="authorResultMap" type="Author">-->
<!--        <id property="id" column="id"/>-->
<!--        <result property="name" column="name" />-->
<!--        <result property="age" column="age" />-->
<!--        &lt;!&ndash;使用collection属性，ofType为集合内元素的类型&ndash;&gt;-->
<!--        <collection property="bookList" resultMap="bookResultMap"/>-->
<!--    </resultMap>-->

<!--    <resultMap id="bookResultMap" type="Book">-->
<!--        <id property="id" column="book_id"/>-->
<!--        <result property="name" column="book_name" />-->
<!--        <result property="price" column="book_price" />-->
<!--        <result property="authorId" column="book_author_id" />-->
<!--    </resultMap>-->

<!--    <select id="findAuthorById" parameterType="int" resultMap="authorResultMap">-->
<!--        SELECT a.*, b.id AS 'book_id', b.name AS 'book_name', b.price AS 'book_price',b.author_id AS 'book_author_id'-->
<!--        FROM t_author a, t_book b-->
<!--        WHERE a.id = b.author_id-->
<!--        AND a.id = #{authorId}-->
<!--    </select>-->


<!--method2-->
<!--    <resultMap id="authorResultMap" type="Author">-->
<!--        <id property="id" column="id"/>-->
<!--        <result property="name" column="name" />-->
<!--        <result property="age" column="age" />-->
<!--        &lt;!&ndash;使用collection属性，ofType为集合内元素的类型&ndash;&gt;-->
<!--        <collection property="bookList" ofType="Book"  column="id"-->
<!--                    select="BookMapper.findBookByAuthorId"/>-->
<!--    </resultMap>-->

<!--    <select id="findAuthorById" parameterType="int" resultMap="authorResultMap">-->
<!--        SELECT a.*-->
<!--        FROM t_author a-->
<!--        WHERE a.id = #{id}-->
<!--    </select>-->



    <!--新增了author表的查询语句，将会被调用获取结果并组装给book-->
    <select id="findById" parameterType="int" resultType="com.oswizar.springbootsample.entity.Author">
        SELECT *
        FROM t_author
        WHERE id = #{id}
    </select>

</mapper>
